:erb
  #POST api/users {login, pass}
  #DELETE api/users {login}
  #GET api/users?type=all|active|inactive


-#%div
  %h2 Users
  - @users.each do |user|
    %div= user.login

%div{'ng-controller' => 'UsersCtrl'}
  %h3 Users
  %form.form-inline
    %input.input-small{'ng-model' => 'newUser.login', placeholder: 'login'}
    %input{'ng-model' => 'newUser.password', placeholder: 'password'}
    .actions
      .btn.btn-small{'ng-click' => 'post()'} POST api/users [login, password]
      .btn.btn-small{'ng-click' => 'delete()'} DELETE api/users/:login
  %h4 List
  .btn{'ng-click' => 'refresh()'} GET api/users
  %table
    %tr
      %th Login (primary key)
      %th Created at
      %th Active
    %tr{'ng-repeat' => "user in users"}
      %td {{user.login}}
      %td= "{{user.created_at | date:'medium' }}"
      %td {{user.active}}
%div{'ng-controller' => 'WallItemsCtrl'}
  %h3 Wall items
  %form.form-inline
    %input.input-small{'ng-model' => 'item.id', placeholder: 'id'}
    %input.input-small{'ng-model' => 'item.message', placeholder: 'message'}
    %input.input-small{'ng-model' => 'item.title', placeholder: 'title'}
    %input.input-small{'ng-model' => 'item.author', placeholder: 'author'}
    %input.input-small{'ng-model' => 'item.to', placeholder: 'to'}
    .actions
      .btn.btn-small{'ng-click' => 'post()'} POST api/wall_items
      .btn.btn-small{'ng-click' => 'delete()'} DELETE api/wall_items/:id
  %h4 List
  .btn{'ng-click' => 'refresh()'} GET api/wall_users
  %table
    %tr
      %th ID
      %th Type
      %th Message
      %th Created at
    %tr{'ng-repeat' => "item in items"}
      %td {{item.id}}
      %td {{item.type}}
      %td {{item.message}}
      %td= "{{item.created_at | date:'medium' }}"

